.mainSection {
    min-height: 92vh;
    padding: 20px;
    background-color: var(--body-bg);
    color: var(--body-color);
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttonGroup {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  